@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #D6C7FF;
    --color-secondary: #AB8BFF;
    --color-heading: #032F20;
    --color-stroke: #28272C;
    --font-rubik: "DM Sans", sans-serif;
}
