@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #54A2FF;
    --color-heading: #032F20;
    --color-stroke: #28272C;
    --font-rubik: "Rubik", sans-serif;
    --font-pt: "PT Sans", sans-serif;
}
